@model ProjectDataProgram.Web.Models.ProjectModl

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>ProjectModl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractorCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractorCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateBegin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Id)
        
        @for (int i = 0; i < Model.ProjectUsers.Count; i++)
        {
            @Html.HiddenFor(model => model.ProjectUsers[i].Id)
            @Html.HiddenFor(model => model.ProjectUsers[i].FullName)
            @Html.HiddenFor(model => model.ProjectUsers[i].ProjectUserId)
            @Html.HiddenFor(model => model.ProjectUsers[i].Status)
            @Html.HiddenFor(model => model.ProjectUsers[i].Email)
            
           <p> @Model.ProjectUsers[i].FullName    @Model.ProjectUsers[i].Email</p>

        }

        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
